body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: #ffffff;
  padding: 20px;
  color: white;
}

.logo img {
  width: 300px;
  display: block;
  margin: 35px auto;
}

.login {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  transition: 0.2s ease;
}

.login:hover {
  background: rgba(0, 0, 0, 0.08);
}

h1 {
  margin-bottom: 30px;
}

.item {
  background: #ff6f00;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 400px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

a {
  text-decoration: none;
  background: #000000;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  display: inline-block;
  margin-top: 10px;
}

p {
  margin: 15px 0;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
    .item {
        width: calc(50% - 10px); /* Altera para 2 colunas */
    }
}